button {
  background-color:#4169E1;
  color: white; 
}

#game-buttons-section {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
